*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-size: 22px;
}

.header a {
    color: white;
}

.header a:hover {
    color: grey;
}
.header {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    top: 0;
    height: 69px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.header_list {
    position: absolute;
    display: flex;
    gap: 2rem;
    right: 15px;
    font-size: 30px;
    text-decoration: underline;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.container-list {
    color: seashell;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.main {
    margin-top: 69px;
    color: seashell;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.main img {
    display: block;
    margin: auto;
}

.figcaption {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
}

.figcaption h2, h4 {
    margin: 10px;
}
.container__img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.container__img figcaption {
    margin-top: 10px;
}

 .img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover {
    opacity: 0.5;
}


.location img {
    display: block;
    margin: auto;
    width: 95%;
}

