*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: black;
}

.container-list {
    color: seashell;
    text-align: center;
    background-color: white;
    max-width: 1000px;
}

